<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
    	http://www.springframework.org/schema/beans/spring-beans.xsd
    	http://www.springframework.org/schema/context
    	http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="com.adjava" />
	
	<bean id="bean1" class="com.adjava.LoginModel">
	</bean>

	<bean id="bean2" class="com.adjava.Adminlogin">
	</bean>

	<bean id="bean3" class="com.adjava.Adminaddbook">
	</bean>
	<bean id="bean4" class="com.adjava.Login">
	</bean>
	
	
	
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/" />
		<property name="suffix" value=".jsp" />
	</bean>


       

</beans>





